# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
dist
build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env*.local

# Vercel
.vercel

# Sanity
.sanity

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Coverage
coverage

